@model Projeto_GestaoContratos.Models.Contratos

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>Contratos</h4>
<hr />

<form asp-action="Create">
    <div class="form-group row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-sm-4 mt-2">
            <label asp-for="Cpf" class="control-label"></label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
        <div class="col-sm-8 mt-2">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <label asp-for="Contrato" class="control-label"></label>
            <input asp-for="Contrato" class="form-control" />
            <span asp-validation-for="Contrato" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <label asp-for="Produto" class="control-label"></label>
            <input asp-for="Produto" class="form-control" />
            <span asp-validation-for="Produto" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <label asp-for="Valor" class="control-label"></label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <label asp-for="Vencimento" class="control-label"></label>
            <input asp-for="Vencimento" class="form-control" />
            <span asp-validation-for="Vencimento" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <label asp-for="DataInclusao" class="control-label"></label>
            <input asp-for="DataInclusao" class="form-control" />
            <span asp-validation-for="DataInclusao" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <label asp-for="UsuarioCpf" class="control-label"></label>
            <input asp-for="UsuarioCpf" class="form-control" />
            <span asp-validation-for="UsuarioCpf" class="text-danger"></span>
        </div>
        <div class="col-sm-4 mt-2">
            <input type="submit" value="txt" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
