@model Projeto_GestaoContratos.Models.Contratos

@{
    ViewData["Title"] = "Edit";
}

<div class="form-group row">
    <div class="col-sm-12">

        <!--Título-->
        <h1 class="text-center">Edição de contratos</h1>

        <!--Sub-título-->
        <h4 class="mt-4">@Model.Nome</h4>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-sm-12 mt-2">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="col-sm-12 mt-2">
                <label asp-for="Contrato" class="control-label"></label>
                <input asp-for="Contrato" class="form-control" />
                <span asp-validation-for="Contrato" class="text-danger"></span>
            </div>
            <div class="col-sm-12 mt-2">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-sm-12 mt-2">
                <label asp-for="Produto" class="control-label"></label>
                <input asp-for="Produto" class="form-control" />
                <span asp-validation-for="Produto" class="text-danger"></span>
            </div>
            <div class="col-sm-12 mt-2">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="col-sm-12 mt-2">
                <label asp-for="Vencimento" class="control-label"></label>
                <input asp-for="Vencimento" class="form-control" type="date"/>
                <span asp-validation-for="Vencimento" class="text-danger"></span>
            </div>
            <div class="col-sm-12 mt-2">
                <input class="btn btn-success" type="submit" value="Save"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
