@{
    ViewData["Title"] = "Home Page";
}

<div class="form-group">
    <div class="col-sm-12">
        <h1 class="display-4 text-center">Bem vindo!</h1>
        <hr/>

        <p>Este projeto é uma aplicação simples, que com ela poderemos fazer a importação de dados de contrato a partir de um arquivo csv, manipulação dos dados, autenticação de usuários e exibição de logs de atividades. 
         </p>
        <br/> 
        <p>- Desenvolvido com ASP.NET Core e .NET 8 com estrutura MVC (Model - View - Controller).</p>
        <p>- Para autenticação de usuários, foi utilizado o Identity.</p>
        <p>- Entity Framework Core acelerou o desenvolvimento das operações CRUD, mas foram necessários ajustes em alguns métodos para garantir a integridade dos dados e o funcionamento correto.</p>
        <p>- CsvHelper foi integrado para a importação de dados, simplificando o processo de gerenciamento de contratos.</p>

    </div>
</div>
