html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
    background-color: #E7E7E7;
}

.paper {
    background-color: white;
}

/*Alinhamento padrão na classe btn e abertura para demais customizações*/
.btn {
    margin-top: 8px;
}

.table-container {
    max-height: 50%; /* Ajuste a altura máxima conforme necessário */
    overflow: auto; /* Permite rolagem horizontal e vertical */
    -webkit-overflow-scrolling: touch; /* Suporte a rolagem suave em iOS */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead th {
    background-color: #f4f4f4;
}